.heading-section {
    display : flex;
    justify-content : space-between;
    align-items : center;
}
.heading-section button {
    width : 6rem;
    height : 2rem;
    background-color : #124170;
    color : #AAFFC7;
    border-radius : 0.5rem;
}

.table-section {
    margin-top : 2rem;
    padding : 0.8rem 1.5rem 0 1.5rem;
}
.table-features {
    display : flex;
    /* justify-content : space-between; */
    /* align-items : center; */
    flex-direction : column;
    gap : 1rem;
}

.filter {
    display : flex;
    gap : 1rem;

}
.filter button {
    width : 6rem;
    height : 2.2rem;
    border-radius : 0.5rem;
    background-color : #124170;
    color : #AAFFC7;
    font-weight : 600;
    display : flex;
    gap : 0.5rem;
    padding : 1rem;
    justify-content: space-evenly;
    align-items : center;
}

.search-bar input {
    padding : 0.5rem;
    border-radius : 0.5rem;
    outline:none;
    border:1px solid #124170;
    width : 16rem;
}
.search-bar input:hover,
.search-bar input:focus {
    box-shadow : 0 0.1rem 0.5rem #124170;
}
.table {
    width : 100%;
    border : 1px solid black;
    border-radius : 0.5rem;
    margin-top :2rem;
    margin-bottom : 2rem;
    overflow-x : auto;
}
main {
    overflow-x: auto;
}
.table table {
    width : 100%;
    padding : 1rem;
    border-radius : 0.5rem;
}
thead tr{
    background-color : #124170;
    text-align : left;
    color : white;
}
thead th {
    padding : 1rem;
}
table, tr,td {
    border : none;
    border-collapse: collapse;
    padding : 1rem;
}
tr {
    border-bottom : 1px solid black;
}

.pagination {
    display:flex;
    justify-content : right;
}
.pagination-container {
    border : 1px solid black;
    border-radius : 0.5rem;
    width : 50%;
    display : flex;
    /* justify-content: space-between; */
}
.pagination-container span {
    border-right : 1px solid black;
    align-items: center;
    padding : 1rem;
    display:flex;
    justify-content: center;
    
}
.pagination-container span:last-child {
    border-right : none;
}
.pagination-container button {
    width : 4rem;
    height : 2rem;
    border-radius : 0.5rem;
    background-color : #215B63;
    color : white;
}
.product-image img {
    width : 3rem;
    height : 3rem;
}
.product-image {
    display : flex;
    gap : 1rem;
    align-items : center;
}
tr:hover {
    background-color : rgba(128, 128, 128, 0.523);
}
tfoot tr:hover {
    background-color : unset;
}
thead tr:hover {
    background-color : #124170;
}
.pagination-container span:first-child {
    background-color : rgba(128, 128, 128, 0.638);
}
@media (min-width : 768px) {
    .table-features {
        flex-direction : row;
        justify-content : space-between;
        align-items : center;
    }
    .pagination-container {
        border : 1px solid black;
        border-radius : 0.5rem;
        width : 35%;
        display : flex;
        /* justify-content: space-between; */
    }
    main {
        overflow-x:unset;
    }
    .table {
        overflow-x:unset;
    }
}